<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<h3>製品詳細</h3>
<table>
  <tr>
    <th>商品の名前</th>
    <td><%= @product.name %></td>
  </tr>
</table>
<div>
  <ul>
    <li><%= link_to "製品情報一覧に戻る", :products %></li>
  </ul>
</div>

<div class="row">
  <p>予約する数</p>
  <% @reservations.each do |reservation| %>
    <div class="offset-md-5 col-md-5">
      <p class="h3"><%= reservation.quantity %></p>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="row">
    <div class="offset-md-5 col-md-5">
      <%= form_with(model: @reservation, url: confirm_reservations_path(@product), local: true) do |f| %>
        <%= f.number_field :quantity, class: "form-control m-2" %>
        <%= f.submit "予約を追加する", class:"btn samuraimart-submit-button ml-2"%>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_with url: confirm_reservations_path, method: :post do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.number_field :quantity, value: 1 %> 
  <%= f.submit "確認画面へ" %>
<% end %>
